.image-gallary-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 11rem;
  flex-wrap: wrap;
  height: 150rem;

  .image-gallary-main {
    width: 95rem;
    height: 70rem;
    border: 1.3rem solid #ffffff;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(21, 20, 20, 0.34);
  }
  .image-gallary-box--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70rem; // C

    .image-gallary-box1 {
      display: flex;
      flex-direction: row;
      flex-direction: row;
      justify-content: space-between;
      width: 75rem;

      img {
        &:nth-child(1),
        &:nth-child(2) {
          width: 35rem;
          height: 33rem;
          // background: #c4c4c4;
          border: 1rem solid #ffffff;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.34);
        }
      }
    }
    .image-gallary-box2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 75rem;

      img {
        &:nth-child(1),
        &:nth-child(2) {
          width: 35rem;
          height: 33rem;
          // background: #c4c4c4;
          border: 1rem solid #ffffff;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.34);
        }
      }
    }
  }
}
