.image-gallary-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 11rem;
  flex-wrap: wrap;
  height: 150rem;

  .image-gallary-main {
    width: 95rem;
    height: 70rem;
    border: 1.3rem solid #ffffff;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(21, 20, 20, 0.34);
  }
  .image-gallary-box--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70rem; // C

    .image-gallary-box1 {
      display: flex;
      flex-direction: row;
      flex-direction: row;
      justify-content: space-between;
      width: 75rem;

      img {
        &:nth-child(1),
        &:nth-child(2) {
          width: 35rem;
          height: 33rem;
          // background: #c4c4c4;
          border: 1rem solid #ffffff;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.34);
        }
      }
    }
    .image-gallary-box2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 75rem;

      img {
        &:nth-child(1),
        &:nth-child(2) {
          width: 35rem;
          height: 33rem;
          // background: #c4c4c4;
          border: 1rem solid #ffffff;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.34);
          // z-index: 1;
        }
      }
    }
  }
}

// img.popup-button:hover {
//   background-color: cornflowerblue;
// }

////////////////
.popup-buuton {
  padding: 4rem;
  background-color: cornflowerblue;
}

.madal {
  position: fixed;
  // position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  // border-radius: 10px;
  z-index: 10; // nothing happ
  background-color: white;
  // width: 500px;
  max-width: 20%;
  // width: 609px;
  width: 909px;
  // height: 420px;
  height: 720px;
}

.popup-close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
#overlay {
  position: fixed;
  // opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.slides {
  padding: 0;
  width: 909px;
  height: 720px;
  display: block;
  margin: 0 auto;
  position: relative;
  // position: absolute;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 909px;
  height: 720px;
  display: block;
  position: absolute;

  transform: scale(0);

  transition: all 0.7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.navv label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;

  color: #fff;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .navv label {
  opacity: 0.5;
}

.navv label:hover {
  opacity: 1;
}

.navv .next {
  right: 0;
}

input:checked + .slide-container .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .navv label {
  display: block;
}

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}
