.parallaxx__imagee {
  .parallaxx__image--container {
    width: 100%;
    min-height: 68rem;
    position: absolute;
    top: 12rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .parallaxx__inner--box {
    h2 {
      position: absolute;
      left: 13.4rem;
      top: 40.3rem;
      text-transform: capitalize;
      font-style: normal;
      font-weight: normal;
      font-size: 6.2rem;
      line-height: 6.4rem;
      color: #ffffff;
    }
    .parallaxx__box--address {
      position: absolute;
      left: 13.5rem;
      top: 53.4rem;
      font-style: normal;
      font-weight: normal;
      font-size: 3.8rem;
      line-height: 4.7rem;
      color: #ffffff;
    }
    p:last-child {
      position: absolute;
      left: 13.4rem;
      top: 59rem;
      font-style: normal;
      font-weight: normal;
      font-size: 3rem;
      line-height: 3.5rem;
      color: #ffffff;
    }
  }
  .parallaxx__box {
    position: relative;
    height: 660rem;
    font-size: 4rem;
    // background: #e7eef6;
    background: #d3e2f2;
    z-index: -1;

    .parallaxx__card {
      position: relative;
      top: 62rem;
      left: 0;
    }
    h2 {
      position: relative;
      top: 45%;
      left: 0;
    }
    .parallaxx__card-2 {
      position: relative;
      top: 0rem;
    }
  }
}

/////////////////////////// Brack Point ///////////////////////////

@media screen and (max-width: 1888px) {
  .parallaxx__imagee .parallaxx__box .parallaxx__card-2 {
    top: 80rem;
  }
}
@media screen and (max-width: 1850px) {
  .parallaxx__imagee .parallaxx__box .parallaxx__card-2 {
    top: 78rem;
  }
}
@media screen and (max-width: 1849px) {
  .parallaxx__imagee .parallaxx__box .parallaxx__card-2 {
    top: 75rem;
  }
}
@media screen and (max-width: 1687px) {
  .parallaxx__imagee .parallaxx__box .parallaxx__card-2 {
    top: 70rem;
  }
}
@media screen and (max-width: 1366px) {
  .parallaxx__imagee .parallaxx__box .parallaxx__card-2 {
    top: 70rem;
  }
}
// @media screen and (max-width: 1366px) {
//   // 1366
//   .parallaxx__imagee .parallaxx__box .parallaxx__card-2 {
//     top: 750rem;
//   }
// }

// @media screen and (max-width: 1570px) {
//   .parallaxx__imagee .parallaxx__box .parallaxx__card-2 {
//     top: 100rem;
//   }
// }
// @media screen and (max-width: 820px) {
//   .parallaxx__imagee .parallaxx__box .parallaxx__card-2 {
//     top: 70rem;
//   }
// }
// @media screen and (max-width: 769px) {
//   .parallaxx__imagee .parallaxx__box .parallaxx__card-2 {
//     top: 50rem;
//   }
// }
// @media screen and (max-width: 370px) {
//   .parallaxx__imagee .parallaxx__box .parallaxx__card-2 {
//     top: 4rem;
//   }
// }
